@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }
  
  .btn {
    @apply inline-block w-fit h-12 py-2 rounded-full transition-opacity ease-in-out duration-300 capitalize tracking-wider whitespace-nowrap font-semibold hover:opacity-80 focus:outline-none focus:ring-4 focus:ring-opacity-50 focus:ring-amber-400
  }

  .btn-primary {
    @apply bg-gradient-to-r from-amber-500 to-pink-600 text-white
  }

  .btn-secondary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-amber-500 to-pink-600 border-[2.5px] dark:border-white border-zinc-200
  }

  .btn-tertiary {
    @apply bg-white text-zinc-800
  }

  .amber-pink-gradient {
    @apply bg-gradient-to-r from-yellow-500 to-pink-600
  }

  .green-blue-gradient {
    @apply bg-gradient-to-r from-green-500 to-blue-700
  }

  .purple-purple-gradient {
    @apply bg-gradient-to-tr from-purple-500 to-purple-900
  }

  .blue-blue-gradient {
    @apply bg-gradient-to-tr from-blue-500 to-blue-900
  }

  .quote {
    @apply text-transparent bg-clip-text bg-gradient-to-tl from-amber-500 to-pink-600
  }

  .form-field {
    @apply bg-gray-100 dark:bg-zinc-900 dark:placeholder:text-zinc-800 placeholder:text-gray-300 rounded-full h-12 px-6 mb-4 dark:border-zinc-800 border-gray-200 border-2
  }

  .form-field.long {
    @apply h-32 rounded-3xl pt-2
  }

  article.project p {
  @apply mb-8
  }

  #clock {
    @apply !shadow-none !border-[2px] dark:!border-gray-50 !border-gray-900
  }

  .city path {
    @apply fill-zinc-900 dark:fill-gray-100
  }

}

main section {
  transform: rotateZ(0) !important
}

#clock .clock-minute,
#clock .clock-hour {
  @apply !w-[3px] dark:!bg-gray-50 !bg-gray-900
}

.perspective-card {
  perspective: 800px;
}

.infinite-scroll {
  width: max-content;
  animation: slide 40s linear infinite;
}

.infinite-scroll:nth-child(2) {
  animation: slide2 40s linear infinite reverse;
}

.infinite-scroll:nth-child(3) {
  animation: slide3 30s linear infinite;
}

@keyframes slide {
  0% { transform: translate3d(105vw, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

@keyframes slide2 {
  0% { transform: translate3d(105vw, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

@keyframes slide3 {
  0% { transform: translate3d(105vw, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.quotes:before,
.quotes:after {
  content: '\0022';
  top: -25px;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  color: transparent;
  background-image: linear-gradient(to top left, #f59e0b, #db2777 );
  background-clip: text;
}

.quotes:before {
  left: -25px;
  transform: rotate(-45deg);
}

.quotes:after {
  right: -25px;
  transform: rotate(45deg);
}